.img_printer {background-image:url('../img/printer.png');background-repeat:no-repeat;margin-top:2px;}
.img_terminal {background-image:url('../img/terminal.png');background-repeat:no-repeat;margin-top:2px;}
.img_theme {background-image:url('../img/theme.png');background-repeat:no-repeat;margin-top:2px;}

.img_demo {background-image:url('../img/demo.png');background-repeat:no-repeat;margin-top:2px;}

